In [1]:
import os

In [2]:
import pandas as pd

In [3]:
dir_path = "./"

In [4]:
df = pd.read_csv(os.path.join(dir_path, "data.csv"))

In [5]:
grouped_data = df.groupby(['country', 'listed_in']).size().reset_index(name='count')

In [6]:
print(grouped_data)

                country                                          listed_in  \
0     , France, Algeria   Dramas, Independent Movies, International Movies
1         , South Korea                  International TV Shows, TV Dramas
2             Argentina  Action & Adventure, Comedies, International Mo...
3             Argentina  Action & Adventure, Horror Movies, Internation...
4             Argentina         Children & Family Movies, Music & Musicals
...                 ...                                                ...
2639            Vietnam                       Dramas, International Movies
2640            Vietnam      Dramas, International Movies, Romantic Movies
2641            Vietnam     Horror Movies, International Movies, Thrillers
2642       West Germany                Documentaries, International Movies
2643           Zimbabwe    Comedies, International Movies, Romantic Movies

      count
0         1
1         1
2         1
3         1
4         1
...     ...
2639      1
2640      1
2641      1
2642      1
2643      1

[2644 rows x 3 columns]